college-a/src/main/resources/xsd/college-b/choiceB.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  GET_CHOICES 返回的 XML 形状约束。
  字段名与 ENROLLMENT 表列名一致；SCORE 是 0..100 的整数（值域由 DB CHECK 保证，XSD 不重复声明）。
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="Choices">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="choice" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="STU_NO" type="xs:string"/>
              <xs:element name="CRS_NO" type="xs:string"/>
              <xs:element name="SCORE"  type="xs:int"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
