college-a/src/main/resources/xsd/college-b/classB.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  GET_COURSES 返回的 XML 形状约束。
  字段名与 COURSE 表列名一致；PERIODS / CREDIT 是整数，SHARED 是 '0'/'1' 字符串。
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="Courses">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="course" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="CRS_NO"   type="xs:string"/>
              <xs:element name="CRS_NAME" type="xs:string"/>
              <xs:element name="PERIODS"  type="xs:int"/>
              <xs:element name="CREDIT"   type="xs:int"/>
              <xs:element name="TEACHER"  type="xs:string"/>
              <xs:element name="LOCATION" type="xs:string"/>
              <xs:element name="SHARED"   type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
