college-c/src/main/resources/xsd/college-c/accountC.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="Accounts">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="account" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="acc" type="xs:string"/>
              <xs:element name="passwd" type="xs:string"/>
              <xs:element name="CreateDate" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
