college-c/src/main/resources/xsd/college-c/classC.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="Courses">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="course" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Cno" type="xs:string"/>
              <xs:element name="Cnm" type="xs:string"/>
              <xs:element name="Ctm" type="xs:int"/>
              <xs:element name="Cpt" type="xs:int"/>
              <xs:element name="Tec" type="xs:string"/>
              <xs:element name="Pla" type="xs:string"/>
              <xs:element name="Share" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
