college-b/src/main/resources/xsd/college-b/studentB.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  GET_STUDENTS 返回的 XML 形状约束。
  字段名与 STUDENT 表列名一致；PWD 可选（跨院调用不带密码）。
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="Students">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="student" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="STU_NO"   type="xs:string"/>
              <xs:element name="STU_NAME" type="xs:string"/>
              <xs:element name="SEX"      type="xs:string"/>
              <xs:element name="MAJOR"    type="xs:string"/>
              <xs:element name="PWD"      type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
