college-a/src/main/resources/xsd/college-a/classA.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="Courses">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="course" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="CourseID" type="xs:string"/>
              <xs:element name="CourseName" type="xs:string"/>
              <xs:element name="Credit" type="xs:int"/>
              <xs:element name="Teacher" type="xs:string"/>
              <xs:element name="IsShared" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
