integration-server/src/main/resources/xsd/integration/formatStudent.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="Students">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="student" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="id" type="xs:string"/>
              <xs:element name="name" type="xs:string"/>
              <xs:element name="sex">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="M"/>
                    <xs:enumeration value="F"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="major" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
